{% extends 'base.html.twig' %}

{% block title %}Hello CreditController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue dans la gestion de vos crédits</h1>

    <a href="{{ path('credit.create') }}" class="btn btn-success">Ajouter un crédit</a>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Numéro de crédit</th>
                <th scope="col">Taux</th>
                <th scope="col">Assurance</th>
                <th scope="col">Date de première échéance</th>
                <th scope="col">Durée</th>
                <th scope="col">Montant</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for credits in credit %}
                <tr>
                    <td><a href ="{{ path ('credit.show', {id: credits.id})}}">{{ credits.id }}</a></td>
                    <td>{{ credits.taux }} %</td>
                    <td>{{ credits.assurance }} €</td>
                    <td>{{ credits.premiereEcheance|date('d/m/Y') }}</td>
                    <td>{{ credits.duree }} mois</td>
                    <td>{{ credits.montant }} {% if credits.montant>0 %} € {% endif %}</td>
                    <td>
                        <a href="{{ path('credit.edit', {'id': credits.id}) }}" class="btn btn-primary">Modifier</a>
                    </td>
                    <td>
                        <a href="{{ path('credit.delete', {'id': credits.id}) }}" class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Pas de crédit trouvé.</td>
                </tr>
            {% endfor %}

        </tbody>
</div>
{% endblock %}
